<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
    <h3>Signin</h3>
    <form id="signin-form">
        <label for="email">Email</label>
        <input type="email" id="email">

        <label for="password">Password</label>
        <input type="password" id="password">

        <button type="submit">Signin</button>
    </form>
    <p>Don't have an account? <a href="/user/signup">Sign up</a></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"></script>
    <script src="/js/signin.js"></script>  
</body>
</html>