<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h3>Signup</h3>
    <form id="signup-form">
        <label for="name">Name</label>
        <input type="text" id="name">

        <label for="email">Email</label>
        <input type="email" id="email">

        <label for="password">Password</label>
        <input type="password" id="password">

        <label for="phone">Phone no.</label>
        <input type="number" id="phone">

        <button type="submit">Signup</button>
    </form>
    <p>Already have an account? <a href="/user/signin">Sign in</a></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"></script>
    <script src="/js/signup.js"></script>
</body>
</html>